.bread{
    color: #000;
    background: burlywood;
    margin: 20px 50px;
    border-radius: 25px;
  

    
}
.hotDog {
    color: #fff;
    background: orangered;
    margin: 2px;
    border-radius: 25px;
}
.cheese{
    color: #000;
    background: yellow;
    margin: 2px;
    border-radius: 25px;
}
.salad{
    color: #fff;
    background: green;
    margin: 2px;
    border-radius: 25px;
}
.breadleft{
    color: #000;
    background: burlywood;
    margin: 20px 50px;
    margin-top: 80px;
    border-radius: 25px;

}